.error {
    color: red;
    margin: 10px 0;
    font-size: 18px;
    border: 1px;
}
/*Стиль таблицы*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}