.error {
    color: red;
    margin: 10px 0;
    font-size: 18px;
    border: 1px;
}
.info {
    color: green;
    margin: 10px 0;
    font-size: 14px;
    border: 1px;
}
/*Стиль таблицы*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/*Уведомления*/
.notification-container {
    position: relative;
}
.bell {
    cursor: pointer;
    font-size: 24px;
}
.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}
.dropdown {
    position: absolute;
    top: 30px; /* корректируйте по мере необходимости */
    right: 0;
    background: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}
.dropdown ul {
    list-style: none;
    padding: 0;
}
.dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.dropdown li:hover {
    background-color: #f0f0f0;
}
/*Непрочитанные комментарии*/
.new-comment {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Окно фиксированного позиционирования */
    z-index: 1000; /* Отображение поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Прокрутка, если необходимо */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe; /* Цвет фона модального окна */
    margin: 15% auto; /* Центрирование окна */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина окна */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.author-comment {
    background-color: #e0f7fa; /* светлый цвет фона */
    border: 1px solid #009688; /* цвет рамки */
    padding: 10px;
    margin: 5px 0;
    display: block;
    width: fit-content;
    margin-left: auto;
}
.attachments {
    margin-top: 5px;
}

.file-attachment {
    margin-left: 10px;
}

.file-attachment a {
    color: #007bff;
    text-decoration: none;
}

.file-attachment a:hover {
    text-decoration: underline;
}
.comment {
    background-color: #636977; /* светлый цвет фона */
    border: 1px solid #01342d; /* цвет рамки */
    color: ghostwhite;
    padding: 10px;
    margin: 5px 0;
    display: block;
    width: fit-content;
}
#imageModal img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}
.avatar{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
